{% extends "base.html" %}

{% block content %}
    <div class = "row justify-content-center">
        <div class = "col-lg-8 col-md-8 col-sm-12 base-bg">
            <h1>Administration Panel</h1>
            <h3>Select an option to continue</h3>
            <hr>

            {% with messages = get_flashed_messages() %}
            {% if messages %}  
            {%for message in messages %}
                <div class="alert alert-success text-center" role="alert"> {{ message }}</div>
            {% endfor %}
            {% endif %}
        {% endwith %}
            <div>
                <h4>User Administration </h4>
                <ul>
                    <!--Link to various forms and display pages to assist with administration-->
                    
                    <li><a href="{{ url_for('admin_adduser') }}">Add users</a></li>
                    <li> <a href="{{ url_for('admin_edituser') }}">Modify or delete a user</a></li>
                    <li><a href="{{ url_for('admin_viewusers') }}">View users</a></li>
                    <li><a href="{{ url_for('admin_viewuserstats') }}">User quiz history</a></li>
                </ul>
                <h4>Quiz Administration </h4>
                <ul>
                    
                    <li> <a href="{{ url_for('admin_addset') }}">Add a question set or category</a></li>
                    <li> <a href="{{ url_for('admin_deleteset') }}">Delete a question set or category</a></li>
                    <li> <a href="{{ url_for('admin_viewstats') }}">View Question Sets and Statistical information</a></li>
                </ul>

            </div>
        </div>
    </div>


{% endblock %}