{% extends "base.html" %}

{% block content %}
<div class = "row justify-content-center">
    <div class = "col-lg-8 col-md-8 col-sm-12 base-bg">
        <h1>Add a question set to the database</h1>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}  
        <ul style="list-style:none;"> 
        {%for message in messages %}
            <li style="color:red; align-self: center; font-weight: bold; "> {{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
        <form action="" method = "POST" novalidate>
            {{form.hidden_tag()}}
            <h3>Enter an existing category for the question set or add a new one:</h3>
            <p>
                {{form.existing_category.label}} <br>
                {{form.existing_category(size=32)}}
            </p>
            <h4>Or</h4>
            <p>
                {{form.new_category.label}} <br>
                {{form.new_category(size=32)}}
            </p>
            <h3>Enter the question set for the desired category: </h3>
            <p>
                {{form.question.label}} <br>
                {{form.question(size=32)}}
                {% for error in form.question.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>
                {{form.answer.label}} <br>
                {{form.answer(size=32)}}
                {% for error in form.answer.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>
                {{form.fake_ans1.label}} <br>
                {{form.fake_ans1(size=32)}}
                {% for error in form.fake_ans1.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>
                {{form.fake_ans2.label}} <br>
                {{form.fake_ans2(size=32)}}
                {% for error in form.fake_ans2.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>
                {{form.fake_ans3.label}} <br>
                {{form.fake_ans3(size=32)}}
                {% for error in form.fake_ans3.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>
            {{form.submit()}} 
            </p>
        </form>
        <hr>
        <a href="{{ url_for('admin')}} "> Back to admin portal</a>
    </div>
</div>
{% endblock %}