{% extends "base.html" %}

{% block content %}
    <h1>Add a user to the database:</h1>
    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
        <p>
            {{form.username.label()}} <br>
            {{form.username(size=32)}}
            {% for error in form.username.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </p>
        <p>
            {{form.password.label()}} <br>
            {{form.password(size=32)}}
            {% for error in form.password.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </p>
        <p>
            {{form.password_confirm.label()}} <br>
            {{form.password_confirm(size=32)}}
            {% for error in form.password_confirm.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </p>
        <p>
            {{form.admin.label()}}
            {{form.admin()}}
        </p>
        <p>
            {{form.submit()}}
        </p>
    </form>
    <a href="{{ url_for('admin')}} "> Back to admin portal</a>
{% endblock %}
