{% extends "base.html" %}
{% block content %}
<div class = "row justify-content-center">
    <div class = "col-lg-8 col-md-8 col-sm-12 text-center base-bg">
    <h1>General statistics and question sets</h1>
    <h3>All statistics for each category is displayed below.</h3>
    <hr>
    <div class="row justify-content-center">
        <div class= "col-lg-4 col-md-4 col-sm-5 col-xsm-5 col-auto">
            <table class="table table-responsive">
                <tr> 
                    <th>Category</th>
                    <th>Average Score</th>
                    <th>Total Attempts</th>
                </tr>
                <!--Loop through database table and display-->
                {% for cat in Cats %}
                <tr>
                    <td class="category">{{cat.category}}</td>
                    <td class="score">{{cat.total_score / cat.attempts}}</td>
                    <td class="attempts">{{cat.attempts}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <h4>All question sets are displayed below.</h4>

    <div class="row justify-content-center">
        <div class="col-auto">
          <table class="table table-responsive">
                <tr>
                    <th>Category</th>
                    <th>ID</th>
                    <th>Question</th>
                </tr>
                <!--Loop through database table and display-->
                {% for q in Questions %}
                <tr>
                    <td class="qcategory">{{q.category}} </td>
                    <td class="qID">{{q.id}} </td>
                    <td class="question">{{q.question}} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

 <hr>
    <a class="navback" href="{{ url_for('admin')}} "> Back to admin portal</a>
    </div>
</div>
{% endblock %}