{% extends "base.html" %}
{% block content %}
<div class = "row justify-content-center">
    <div class = "col-lg-8 col-md-8 col-sm-12 text-center base-bg">
        <h1>User information</h1>
        <h3>All user information (apart from passwords) stored in database is displayed below.</h3>
        <hr>
        <div class = "row justify-content-center">
            <div class = "col-lg-6 col-md-6 col-sm-8 text-center">
                <table>
                    <tr> 
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Admin Permissions</th>
                    </tr>
                    <!--Loop through database table and display-->
                    {% for user in Users %}
                    <tr>
                        <td class="id">{{user.id}}</td>
                        <td class="username">{{user.username}}</td>
                        <td class="email">{{user.email}}</td>
                        <td class="admin">{{user.admin}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br>
        <a href="{{ url_for('admin')}}"> Back to admin portal</a>
    </div>
</div>
{% endblock %}

