{% extends "base.html" %}
{% block content %}
<div class = "row justify-content-center">
    <div class = "col-lg-8 col-md-8 col-sm-12 text-center base-bg">
    <h1>General statistics</h1>
    <h3>All statistics for each category is displayed below.</h3>
    <hr>
    <table>
        <tr> 
            <th>Category</th>
            <th>Average Score</th>
            <th>Total Attempts</th>
        </tr>
        <!--Loop through database table and display-->
        {% for cat in Cats %}
        <tr>
            <td class="category">{{cat.category}}</td>
            <td class="score">{{cat.total_score / cat.attempts}}</td>
            <td class="attempts">{{cat.attempts}}</td>
        </tr>
        {% endfor %}
    </table>
    

    <a href="{{ url_for('admin')}} "> Back to admin portal</a>
    </div>
</div>
{% endblock %}