{% extends "base.html" %}

{% block content %}
<div class = "row justify-content-center">
    <div class = "col-lg-8 col-md-8 col-sm-12 text-center base-bg">
        <h1>Add a user to the database</h1>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}  
        {%for message in messages %}
            <div class="alert alert-danger text-center" role="alert"> {{ message }}</div>
        {% endfor %}
        {% endif %}
    {% endwith %}
        <form action="" method="POST" novalidate>
            {{form.hidden_tag()}}
            <p>
                {{form.username.label()}} <br>
                {{form.username(size=32)}}
                {% for error in form.username.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>
                {{form.password.label()}} <br>
                {{form.password(size=32)}}
                {% for error in form.password.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>
                {{form.password_confirm.label()}} <br>
                {{form.password_confirm(size=32)}}
                {% for error in form.password_confirm.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>
                {{form.admin.label()}}
                {{form.admin()}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        <hr>
        <a href="{{ url_for('admin')}} "> Back to admin portal</a>
    </div>
</div>
{% endblock %}
