{% extends "base.html" %}

{% block content %}
<div class = "row justify-content-center">
    <div class = "col-lg-8 col-md-8 col-sm-12 base-bg">
        <h1>Edit or Delete a User</h1>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}  
            {%for message in messages %}
                <div class="alert alert-danger text-center" role="alert"> {{ message }}</div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="" method="POST" novalidate>
            {{form.hidden_tag()}}
            <p>
                {{form.old_username.label}} <br>
                {{form.old_username(size=32)}}
            </p>

            <h2>All fields below are optional.</h2>

            <h3>Edit  User</h3>
            <p>
                {{form.new_username.label}} <br>
                {{form.new_username(size=32)}}
            </p>
            <p>
                {{form.email.label}} <br>
                {{form.email(size=32)}}
            </p>
            <p>
                {{form.password.label}} <br>
                {{form.password(size=32)}}
            </p>
            <p>
                {{form.password_confirm.label}} <br>
                {{form.password_confirm(size=32)}}
            </p>
            <p style="font-weight: bold;"> Warning! If user is an admin and this is left unchecked, their privileges will be revoked!</p>
            <p>
                
                {{form.admin.label}}
                {{form.admin()}}
            </p>
            <h3>Delete User</h3>
            <p>
                {{form.delete.label}}
                {{form.delete()}}
                </p>

            <p>
                {{form.submit()}}
            </p>
        </form>
        <hr>
        <a href="{{ url_for('admin')}} "> Back to admin portal</a>
    </div>
</div>
{% endblock %}