<htmL>
    <head>
        <title>Pub-Quiz</title>
    </head>
    <body>
        <div>
            <a href=" {{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href=" {{ url_for('login') }}">Login</a>
            <a href=" {{ url_for('register') }}">Register</a>
            {% else %}
            <a href=#Quiz>Quizzes</a>
            <a href= "{{ url_for('signout')}}">Sign Out</a>
            {% endif %}
        </div>
        <hr>
        

        {% block content %} {% endblock %}
    </body>


</htmL>