<htmL>
    <head>
        <title>Pub-Quiz</title>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <script type="text/javascript" src="{{ url_for('static',filename='js/kieren-script.js') }}"></script>
    </head>
    <body>
        <div>
            <a href=" {{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
                <a href=" {{ url_for('login') }}">Login</a>
                <a href=" {{ url_for('register') }}">Register</a>
            {% else %}
                <a href=#Quiz>Quizzes</a>
                {% if current_user.is_admin() %}
                <!-- User is admin. Show admin panel-->
                    <a href= "{{ url_for('admin') }}">Admin Panel</a>
                {% endif %}
                <a href= "{{ url_for('signout')}}">Sign Out</a>  
            {% endif %}
          
        </div>
        <hr>    
      
        {% block content %} {% endblock %}

    </body>



</htmL>