{% extends 'base.html' %}
{% block content %}
    <div class = "row justify-content-center">
        <div class = "col-lg-8 base-bg">
            <h3 class="text-center mb-4">Choose Your Category!</h3>
            <hr/>
            <form action= "" method="post" class="text-center" novalidate>
                    {{ form.hidden_tag()}}
                <div class = "row justify-content-center">
                    {{ form.categories(class_="cat-list") }}
                </div>
                <button type="submit" name = "submit" id="quiz-btn">Start Quiz</button>
                <div class = "row justify-content-center mt-2">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if message==None %}

                                <div class="alert alert-danger" role="alert">
                                    {{current_user.username}}, have not chosen an option!
                                </div>
                                {% else %}
                                <div class="alert alert-info" role="alert">
                                    {{ current_user.username }}, you seleted {{ message }} last quiz.
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}


