{% extends 'base.html' %}
{% block content %}

<h1 class = "text-center">Choose Your Category</h1>
<div class = "jumbotron">
    <div class = "row justify-content-center">
        <div class = "col-lg-6">
            <form action= "" method="post" novalidate>
                    {{ form.hidden_tag()}}
                <p>
                    {{ form.categories() }}
                </p>
                <div class = "row justify-content-center">
                    <div class ="col-lg-3 mt-lg-4">
                        <button type="submit" name = "submit" class="btn btn-primary mx-auto">Start Quiz</button>
                    </div>   
                </div> 
            </form>
            <button type="button" onclick="cat()">OK</button>
        </div>
    </div>
</div>
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='category.js') }}"></script>