{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/category.css' ) }}">
    <div class = "row justify-content-center">
        <div class = "col-lg-6 cat-form">
            <h3 class="text-center mb-4">Choose Your Category!</h3>
            <form action= "" method="post" class="text-center" novalidate>
                {{ form.hidden_tag() }}
                <div class = "row justify-content-center">
                    {{ form.categories() }}
                </div>
                <p id="cat-message"></p>
                <script src="{{ url_for('static', filename='js/category.js' ) }}"></script>
                <div class = "row justify-content-center">
                    <button type="submit" name = "submit" class="btn btn-primary mx-auto">Start Quiz</button>
                </div> 
                <div class = "row justify-content-center mt-2">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p> You have chosen <b>{{ message }}</b> Do you wish to continue?</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}


