
{% extends "base.html" %}


{% block content %}
<div class = "row justify-content-center">
    <div class = "col-lg-10 index-home">
        <h1>Welcome {{current_user.username}}! </h1>
        <h2>This is our project</h2>
        {% if current_user.is_authenticated %}
        <div class = "row justify-content-center">
            <button class="btn btn-primary mx-auto" onclick="location.href= ' //127.0.0.1:5000/category '" type="button">
                Start Now!</button>
        </div>
        {% else %}
        <p class = text-center>Please Log in to get started!</p>
        {% endif %} 

    </div>
</div>

{% endblock %}