{% extends "base.html" %}

    {% block content %}
    <div class="question">
        <div class="row">
            <div class="col-sm-2">

                <ul class="question-index">
                    <li>Question No.1</li>
                    <li>Question No.2</li>
                    <li>Question No.3</li>
                    <li>Question No.4</li>
                    <li>Question No.5</li>
                    <li>Question No.6</li>
                    <li>Question No.7</li>
                    <li>Question No.8</li>
                    <li>Question No.9</li>
                    <li>Question No.10</li>
                </ul>

            </div>
            <div class="col-sm-10">
                <div class="question-pad">
                    <div class="question-number" id="question-number">{{ questions[0].qid }}</div>

                    <div class="question-text" id="question">{{ questions[0].question }}</div>
                    <div class="options">
                        <div class="option" id="one">{{ questions[0].answers[0].ans }}</div>
                        <div class="option" id="two">{{ questions[0].answers[1].ans }}</div>
                        <div class="option" id="three">{{ questions[0].answers[2].ans }}</div>
                        <div class="option" id="four">{{ questions[0].answers[3].ans }}</div>
                    </div>        
                    <div class="quiz-nav">
                        <button id="previous" onclick="previousQuestion()">Previous</button>
                        <button id="next" onclick="nextQuestion()">Next</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <script>
        function previousQuestion() {
            currentQuestion = parseInt(document.getElementById("question-number").innerHTML);
            currentQuestion = currentQuestion - 1;
            document.getElementById("question-number").innerHTML = currentQuestion;
        }

        function nextQuestion() {

            currentQuestion = parseInt(document.getElementById("question-number").innerHTML);
            if(currentQuestion < 3) {
                currentQuestion = currentQuestion + 1;
                document.getElementById("question-number").innerHTML = currentQuestion;

                // jsQuestions = "{{ questions|tojson }}";
                // questions = jsQuestions[0];
                // document.getElementById("question").innerHTML = questions[currentQuestion - 1].question; 
                // // document.getElementById("question").innerHTML = "{{ questions[1].question }}"
            }
            

        }

    </script>
    {% endblock %}