{% extends "base.html" %}

    {% block content %}

    <div class="question-pad">
        <div class="question-number" id="question-number">1</div>

        <div class="question-text" id="question">{{ questions[0] }}</div>
        <div class="options">
            <div class="option" id="one">{{ answers[0][0] }}</div>
            <div class="option" id="two">{{ answers[0][1] }}</div>
            <div class="option" id="three">{{ answers[0][2] }}</div>
            <div class="option" id="four">{{ answers[0][3] }}</div>
        </div>        
        <ol class="marks" id="marks"></ol>
        <div class="quiz-nav">
            <div class="question-text" id="finalScore"></div>
        </div> 
    </div>
    
    <script>
        window.onload = startCount();

        function startCount() {
            window.answersCorrect = 0;

            window.recordedAnswers = [];

            window.answerArray = [];
            {% for ans in corrAnswers %}
                window.answerArray.push("{{ ans }}");
            {% endfor %}   

            window.questions = [];
            {% for quest in questions %}
                window.questions.push("{{ quest }}");
            {% endfor %}
        
            window.answers = [];
            {% for ans in answers %}
                window.answers.push([]);
                var length = window.answers.length;
                {%for a in ans %}
                    window.answers[length-1].push("{{ a }}");
                {% endfor %}
            {% endfor %}

            console.log(window.answers);
        }

        function increment() {
            window.answersCorrect = parseInt(window.answersCorrect) + 1;
            // document.getElementById("count").innerHTML = parseInt(window.answersCorrect);
        }

        function createButton(context) {
            var button = document.createElement("input");
            button.type = "button";
            button.value = "Choose Another Quiz";
            button.onclick = function () {
                window.location = "{{ url_for('category') }}";
            }
            context.appendChild(button);
        }

        function displayMarks() {
            // Wipe all the relevant HTML divs

            document.getElementById("question").innerHTML = "Results!";
            document.getElementById("question-number").remove();
            document.getElementById("one").remove();
            document.getElementById("two").remove();
            document.getElementById("three").remove();
            document.getElementById("four").remove();

            var marksDiv = document.getElementById("marks");
            
            for(i = 0; i < 10; i++) {
                var node = document.createElement("LI");
                var message = "Answer: '" + window.answerArray[i] + "'. " + "Your choice: '" + window.recordedAnswers[i] + "'.";
                
                var textnode = document.createTextNode(message);
                node.appendChild(textnode);
                if(window.answerArray[i] == window.recordedAnswers[i]) {
                    node.style.color = "green";
                } else {
                    node.style.color = "red";
                }
                marksDiv.appendChild(node);        
            }
            document.getElementById("finalScore").innerHTML = "Score: " + window.answersCorrect + "/10";
            createButton(marksDiv);
            sendResults();
        }

        $(function(){
            $(document).on("click",".option", function (){
                currentQuestion = parseInt(document.getElementById("question-number").innerHTML);
                
                console.log($(this).html())
                window.recordedAnswers.push($(this).html());
                
                if(window.answerArray[currentQuestion-1] == $(this).html()) {
                    increment();
                }
                if(currentQuestion == 10) {
                    displayMarks();
                }
                nextQuestion();
            });

            function sendResults() {
                var results = '{ "score": ' + window.answersCorrect + ' }';
                var resultsJSON = JSON.parse(results);
                $.post("{{ url_for('quiz') }}", resultsJSON )
            }

        }); 
        
        function nextQuestion() {

            currentQuestion = parseInt(document.getElementById("question-number").innerHTML);
            if(currentQuestion < 10) {
                currentQuestion = currentQuestion + 1;
                document.getElementById("question-number").innerHTML = currentQuestion;
                
                document.getElementById("question").innerHTML = window.questions[currentQuestion-1];
                document.getElementById("one").innerHTML = window.answers[currentQuestion-1][0];
                document.getElementById("two").innerHTML = window.answers[currentQuestion-1][1];
                document.getElementById("three").innerHTML = window.answers[currentQuestion-1][2];
                document.getElementById("four").innerHTML = window.answers[currentQuestion-1][3];
            } 
        }

    </script>
    {% endblock %}