git{% extends "base.html" %}

    {% block content %}
    <h1>Register an Account</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}  
       <ul style="list-style:none;"> 
       {%for message in messages %}
           <li style="color:red; align-self: center; font-weight: bold; "> {{ message }}</li>
       {% endfor %}
       </ul>
    {% endif %}
   {% endwith %}
    <form action= "" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }} <br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <span style="color:red;">{{error}}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color:red;">{{ error}}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_confirm.label }} <br>
            {{ form.password_confirm(size=32) }}
            {% for error in form.password_confirm.errors %}
            <span style="color:red;">{{ error}}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}