{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css' ) }}">
    <div class = "row justify-content-center">
        <div class = "col-lg-8 col-md-8 user-bg">
            <!-- user avatar and username-->
            <h3><img class="mr-4" src="{{ user.avatar(128) }}">Quiz Master: {{ user.username }}</h3>
            <hr/>
            <div class = "row justify-content-center">
                <div class = "col-lg-6 col-md-6">
                    <h5>About me:</h5>
                </div>
            </div>
            <!--about me-->
            <div class = "row justify-content-center">
                <div class = "col-lg-6 col-md-6 col-sm-10 col-xsm-10 about-bg">
                    <p>{{ user.userbio }}</p>
                </div>
            </div>

            <ul>
            {% for scores in results %}
                <li>
                   {{ scores.category }} : {{ scores.total_score / scores.attempts }}
                </li>
            {% endfor %}
            </ul>

            <div class = "row justify-content-center">
                <div class = "col-lg-6 col-md-6 col-sm-10 col-xsm-10 about-bg">
                    <form action= "" method="POST" class="text-center" novalidate>
                        {{ form.hidden_tag() }}   
                        <label class = "edit-username" >Find User</label>
                        {{ form.search(class_= "form-control edit-username", size=32) }}
                        {{ form.submit() }}
                    </form>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if message=='User not found.' %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
    
            <!-- Edit options-->
            <div class = "row justify-content-center">
                <div class = "col-lg-6">
                    <ul class="navbar-nav">  
                    <!-- Admin settings if user is admin-->
                    {% if user.admin == True %}
                        <li class="nav-item">
                            <a class="nav-link settings" href=" {{ url_for('admin') }}"><i class="fas fa-user-shield"></i> Admin Settings</a>
                        </li>
                    {% endif %}
                    <!-- Edit user profile if the user == current user-->
                    {% if user == current_user %}
                        <li class="nav-item">
                            <a  class="nav-link settings" href="{{ url_for('edit_profile') }}">Edit Profile</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
    </div>
</div>
{% endblock %}