.container-fluid{
    height: 115vh;
    background-image: url('/static/images/quizBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5{
    text-align: center;
    color: white
}

hr {
    border: 1px solid white;
}
.base-bg{
    background-color: grey;
    height:  80vh;
    overflow: auto;
    margin-top: 2%;
    border-radius: 20px;
}

a {
    color: white;
    list-style: none;
}

a:hover {
    color: white;
}

.stats {
    color:white
}

li {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.stat-list {
    align-content: center;
}
p {
    text-align:center;
}





