h3{
    margin-top: 5%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
 }
 h5{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin-top: 2%;
 }
 
 .user-bg{
     background-color: grey;
     margin-top: 5%;
     margin-bottom: 10%;
     height: 70vh;
     border-radius: 10%;
 }

 .settings{
     font-size: 20px;
     background: transparent !important;
     color: white
 }
 .settings:hover {
     color: white;
     text-decoration: underline;
 }
 .about-bg {
     background-color: white;
     border-radius: 10px;
     margin-top: 2%;
 }
 p {
     padding-top: 2%;
     text-align: center;
 }

