h3{
    margin-top: 5%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
 }
 
 .user-bg{
     background-color: grey;
     margin-top: 5%;
     height: 70vh;
     border-radius: 10%;
 }

 .settings{
     color: white;
     font-size: 20px;
 }
 .settings:hover {
     color: white;
     text-decoration: underline;
 }